/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
 
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}
section {
  padding: 50px 10%;
}
body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: 6rem;
}
 
.heading span {
  font-size: 2rem;
  color: rgb(182, 6, 112);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}


.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  margin-top: 3rem;
  box-shadow: 0px 0px 18px -1px #c21b8d;
	background-color:#030f06;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:19px;
	font-weight:bold;
	padding:17px 35px;
	text-decoration:none;
	text-shadow:0px 1px 38px #2f6627;

}
.btn:hover {
  background-color:#ffffff;
}
 
.btn:active {
	position:relative;
	top:1px;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
 
.about-img img {
  width: 60%;
  height: 90%;
  border-radius: 1rem;
  box-shadow: 0 0 3px 3px rgba(164, 2, 107, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.about-text p {
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information .info-box {
  display: flex;
  align-items: center;
  margin-top:3rem;
  margin-bottom: 1.4rem;
}
.information .info-box .bx {
  font-size: 22px;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}


.contact, .contact h2{
  background-color: #151515;
  color: #fff;
}


.contact-form {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: #151515;
  margin-bottom: 1rem;
  color: #fff;
  border-bottom: #fff;
}
form input::placeholder,
textarea::placeholder {
  color: #fff;;
}
form textarea {
  resize: none;
  height: 200px;
}
.contact-button {
  margin-top: 3rem;
  box-shadow: 0px 0px 18px -1px #c21b8d;
	background-color:#030f06;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:19px;
	font-weight:bold;
	padding:17px 35px;
	text-decoration:none;
	text-shadow:0px 1px 38px #2f6627;
}
.contact-button:hover {
  background: #ffffff;
  color: #030f06;
  
}
.footer, .footer p{
  padding-top: 1rem;
  text-align: center;
  color:#ffffff;
}
.footer a{
  background: #f29107;
  background: -webkit-linear-gradient(to right, #f29107, #f4d490);
  background: linear-gradient(to right, #f29107, #f4d490);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent;
}
.footer a:hover{
  background: #fafafa;
  background: -webkit-linear-gradient(to right, #fafafa, #b17b06);
  background: linear-gradient(to right, #fafafa, #b17b06);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent;
}

/* Making Responsive */
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  

  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  .skills-container {
    grid-template-columns: 1fr;
  }
  .skills-img img {
    padding-left: 0;
  }
  .skills-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-text span {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .information .info-box span {
    font-size: 1rem;
  }
  
  .contact-form form{
    width: 300px;
  }
  .contact-button{
    margin-left: 25%;
  }
}